@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #d1e6ff;
  --primary-color: #1d75dd;
  --background-chat-received: rgb(33, 33, 33);
  --background-chat-sended: #19a509;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

body {
  background: var(--background-color);
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
